<ion-header [translucent]="true">

  <div class="header-container">

    <!-- Botón notificaciones -->
    <ion-button fill="clear" class="icon-btn">
      <img src="assets/icon/options-outline.svg" alt="filtro" fill/>
    </ion-button>

    <!-- Barra de búsqueda -->


    <ion-searchbar class="search-container" animated="true" placeholder="Buscar recetas"></ion-searchbar>


    <!-- Botón ajustes -->
    <ion-button fill="clear" class="icon-btn">
      <img src="assets/icon/settings-outline.svg" alt="configuración" fill/>
    </ion-button>
  </div>

</ion-header>
