<ion-header [translucent]="true">

  <div class="header-container">

    <!-- Botón notificaciones -->
    <ion-button fill="clear" class="icon-btn">
      <img src="assets/icon/notifications-outline.svg" alt="notificaciones" fill/>
    </ion-button>

    <!-- Barra de búsqueda -->

    <div class="search-container">
      <input type="text" placeholder="Buscar recetas" />
      <img src="assets/icon/search-outline.svg" alt="buscar" class="search-icon" />
    </div>


    <!-- Botón ajustes -->
    <ion-button fill="clear" class="icon-btn">
      <img src="assets/icon/settings-outline.svg" alt="configuración" fill/>
    </ion-button>
  </div>

</ion-header>
