#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


//lo de arriba

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 12px;
}

.center-search {
  width: 200px; /* ancho fijo */
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.center-search:focus {
  border-color: #3880ff;
  box-shadow: 0 0 2px rgba(56,128,255,0.5);
}

.icon-btn img {
  width: 24px;
  height: 24px;
}


.search-container {
  position: relative;
  width: 200px; /* ancho fijo */
}

.search-container input {
  width: 100%;
  padding: 6px 28px 6px 10px; /* espacio para la lupa a la derecha */
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;

  background-color: #fff; /* fondo blanco */
  color: #000;

}

.search-container input:focus {
  border-color: #3880ff;
  box-shadow: 0 0 2px rgba(56,128,255,0.5);
}

.search-container .search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

ion-header {
  border-bottom: none !important;   /* quita la línea */
  box-shadow: none !important;      /* quita cualquier sombra */
  background: transparent;          /* si quieres que sea totalmente libre */
}

