  <ion-tabs slot="bottom">
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="nav.navigateWithAnimation('/home', $event)">
        <img ngSrc="assets/icon/home-outline.svg" alt="Home" height="16" width="16">
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="nav.navigateWithAnimation('/mg', $event)">
        <img ngSrc="assets/icon/heart-outline.svg" alt="Heart" height="16" width="16">
        <ion-label>Favoritos</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="nav.navigateWithAnimation('/saves', $event)">
        <img ngSrc="assets/icon/bookmark-outline.svg" alt="Saves" height="16" width="16">
        <ion-label>Guardados</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="nav.navigateWithAnimation('/historial', $event)">
        <img ngSrc="assets/icon/time-outline.svg" alt="History" height="16" width="16">
        <ion-label>Historial</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="nav.navigateWithAnimation('/usuario', $event)">
        <img ngSrc="assets/icon/person-outline.svg" alt="User" height="16" width="16">
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
