<ion-content>
  <div class="cards-wrapper">

    @for (item of itemsConLike; track item.id) {
      <ion-card class="mini-card" (click)="navegarAReceta(item.id, $event)">
        <div class="card-image-wrapper">
          <img [alt]="item.nombre" [src]="item.imagen" />
          <button class="like-btn" (click)="toggleLikeItem(item, $event)">
            <img [src]="item.liked ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'" alt="Heart">
          </button>
        </div>
        <ion-card-header>
          <ion-card-title>{{ item.nombre }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    }

  </div>
</ion-content>
