.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px; /* espacio entre cards */
  padding: 10px;
}

.mini-card {
  width: calc(50% - 12px) !important; /* fuerza mitad del ancho */
  display: inline-block !important; /* evita que ocupe todo el ancho */
  margin: 0;
}

.mini-card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.mini-card img {
  width: 100%;
  height: 180px; /* o el alto que prefieras */
  object-fit: cover; /* recorta sin deformar */
  border-radius: 8px 8px 0 0;
  display: block;
}


//mg

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 10px;
  justify-content: center;
}

.mini-card {

  cursor: pointer;
  transition: transform 0.1s;
  width: calc(50% - 12px);
  box-sizing: border-box;
}

.card-image-wrapper {
  position: relative;
  width: 100%;
}

.card-image-wrapper img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  display: block;
}

.like-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.like-btn img {
  width: 18px;
  height: 18px;
}
