<ion-content>
  <div class="cards-wrapper">

    <!-- Albóndigas de carne -->
    <ion-card class="mini-card" (click)="nav.navigateWithAnimation('/receta-detalle/' + 0, $event)">
      <div class="card-image-wrapper">
        <img alt="Albóndigas de carne" src="assets/recetas/albondigas de carne.png" />
        <button class="like-btn" (click)="toggleLikeItem(items[0]); $event.stopPropagation();">
          <img [src]="items[0].liked ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'" alt="Heart">
        </button>
      </div>
      <ion-card-header>
        <ion-card-title>Albóndigas de carne</ion-card-title>
      </ion-card-header>
    </ion-card>


    <!-- Alambre de puerco -->
    <ion-card class="mini-card" (click)="nav.navigateWithAnimation('/receta-detalle/' + 1, $event)">
      <div class="card-image-wrapper">
        <img alt="Alambre de puerco" src="assets/recetas/alambre de puerco.png" />
        <button class="like-btn" (click)="toggleLikeItem(items[1])">
          <img [src]="items[1].liked ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'" alt="Heart">
        </button>
      </div>
      <ion-card-header>
        <ion-card-title>Alambre de puerco</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Adobito Sevillano -->
    <ion-card class="mini-card" (click)="nav.navigateWithAnimation('/receta-detalle/' + 2, $event)">
      <div class="card-image-wrapper">
        <img alt="Adobito Sevillano" src="assets/recetas/adobito%20sevillano.png" />
        <button class="like-btn" (click)="toggleLikeItem(items[2])">
          <img [src]="items[2].liked ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'" alt="Heart">
        </button>
      </div>
      <ion-card-header>
        <ion-card-title>Adobito Sevillano</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Ceviche de corvina -->
    <ion-card class="mini-card" (click)="nav.navigateWithAnimation('/receta-detalle/' + 3, $event)">
      <div class="card-image-wrapper">
        <img alt="Ceviche de corvina" src="assets/recetas/ceviche de corvina.png" />
        <button class="like-btn" (click)="toggleLikeItem(items[3])">
          <img [src]="items[3].liked ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'" alt="Heart">
        </button>
      </div>
      <ion-card-header>
        <ion-card-title>Ceviche de corvina</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Fabada Gallega -->
    <ion-card class="mini-card" (click)="nav.navigateWithAnimation('/receta-detalle/' + 4, $event)">
      <div class="card-image-wrapper">
        <img alt="Fabada Gallega" src="assets/recetas/fabada gallega.png" />
        <button class="like-btn" (click)="toggleLikeItem(items[4])">
          <img [src]="items[4].liked ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'" alt="Heart">
        </button>
      </div>
      <ion-card-header>
        <ion-card-title>Fabada Gallega</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Galletas de avena -->
    <ion-card class="mini-card" (click)="nav.navigateWithAnimation('/receta-detalle/' + 5, $event)">
      <div class="card-image-wrapper">
        <img alt="Galletas de avena" src="assets/recetas/galletas de avena.png" />
        <button class="like-btn" (click)="toggleLikeItem(items[5])">
          <img [src]="items[5].liked ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'" alt="Heart">
        </button>
      </div>
      <ion-card-header>
        <ion-card-title>Galletas de avena</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Panqueques -->
    <ion-card class="mini-card" (click)="nav.navigateWithAnimation('/receta-detalle/' + 6, $event)">
      <div class="card-image-wrapper">
        <img alt="Panqueques" src="assets/recetas/panqueques.png" />
        <button class="like-btn" (click)="toggleLikeItem(items[6])">
          <img [src]="items[6].liked ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'" alt="Heart">
        </button>
      </div>
      <ion-card-header>
        <ion-card-title>Panqueques</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Salchipapa -->
    <ion-card class="mini-card" (click)="nav.navigateWithAnimation('/receta-detalle/' + 7, $event)">
      <div class="card-image-wrapper">
        <img alt="Salchipapa" src="assets/recetas/salchipapa.png" />
        <button class="like-btn" (click)="toggleLikeItem(items[7])">
          <img [src]="items[7].liked ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'" alt="Heart">
        </button>
      </div>
      <ion-card-header>
        <ion-card-title>Salchipapa</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Tacos de alambre -->
    <ion-card class="mini-card" (click)="nav.navigateWithAnimation('/receta-detalle/' + 8, $event)">
      <div class="card-image-wrapper">
        <img alt="Tacos de alambre" src="assets/recetas/tacos de alambre.png" />
        <button class="like-btn" (click)="toggleLikeItem(items[8])">
          <img [src]="items[8].liked ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'" alt="Heart">
        </button>
      </div>
      <ion-card-header>
        <ion-card-title>Tacos de alambre</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>


