<ion-content>
  <div class="cards-wrapper">
    <ion-card
      class="mini-card"
      *ngFor="let item of itemsConLike$ | async"
      (click)="navegarAReceta(item.id, $event)">

      <div class="card-image-wrapper">
        <img [alt]="item.titulo" [src]="item.imagen" />

        <ion-button class="like-btn" fill="clear" (click)="toggleLikeItem(item, $event)">
          <img [src]="item.liked ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'" alt="Heart">
        </ion-button>
      </div>

      <ion-card-header>
        <ion-card-title>{{ item.titulo }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <div *ngIf="(itemsConLike$ | async)?.length === 0" class="empty-state">
      <p>No se encontraron recetas con los filtros actuales o la API está vacía.</p>
    </div>
  </div>
</ion-content>
