<ion-content>
  <div class="cards-wrapper">
    <ion-card
      class="mini-card"
      *ngFor="let item of historial$ | async"
      (click)="navegarAReceta(item.id)"
    >
      <div class="card-image-wrapper">
        <img [alt]="item.titulo" [src]="item.imagen" />

        <button class="like-btn" (click)="toggleLikeItem(item, $event)">
          <img
            [src]="esFavorito(item.id) ? 'assets/icon/heartrelleno.svg' : 'assets/icon/heart-outline.svg'"
            alt="Heart"
          />
        </button>

      </div>
      <ion-card-header>
        <ion-card-title>{{ item.titulo }}</ion-card-title>
        <ion-card-subtitle>{{ formatearFecha(item.fecha) }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <div *ngIf="(historial$ | async)?.length === 0" class="empty-state">
      <p>Aún no has cocinado ninguna receta.</p>
    </div>
  </div>
</ion-content>
