.login-content {
  --background: #ffffff;  // Fondo blanco
  display: flex;
  flex-direction: column;
  justify-content: center; // Centrado vertical
  align-items: center;     // Centrado horizontal
  height: 100vh;           // Asegura que ocupe toda la pantalla
  padding: 0;              // Quitar cualquier padding interno
}

.login-wrapper {
  width: 90%;
  max-width: 400px;
  text-align: center;
}



