<ion-content class="login-content">

  <div class="login-container">
    <h1>Iniciar Sesión</h1>

    <ion-input placeholder="Usuario" fill="outline" type="text"></ion-input>
    <ion-input placeholder="Contraseña" fill="outline" type="password"></ion-input>

    <ion-button expand="block" class="login-btn" (click)="login()">
      Iniciar Sesión
    </ion-button>

    <ion-button fill="clear" class="register-btn" (click)="goToRegister()">
      ¿No tienes cuenta? Regístrate
    </ion-button>
  </div>

</ion-content>
