<ion-header>
  <ion-toolbar>
    <ion-title>Colecciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="agregar-coleccion">
    <ion-button (click)="agregarColeccion()" class="anadir">
      <img class="icon" src="assets/icon/add-outline.svg" alt="añadir">
    </ion-button>
    <span class="texto-boton"><strong>Agregar colección</strong></span>
  </div>


  <div class="grid-container">
  <div *ngFor="let c of colecciones; let i = index">
    <ion-card (click)="abrirColeccion(i)">
      <ion-card-header>
        <ion-card-title>
          <ng-container *ngIf="!c.editando; else editando">
            {{ c.nombre }}
            <ion-button fill="clear" size="small" (click)="editarNombre(c, $event)">
              ✏️
            </ion-button>
          </ng-container>

          <ng-template #editando>
            <ion-input [(ngModel)]="c.nombre" (ionBlur)="guardarNombre(c)"></ion-input>
          </ng-template>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ c.recetas.length ? c.recetas.length + ' recetas' : 'No hay recetas todavía' }}
      </ion-card-content>
    </ion-card>
  </div>
  </div>
</ion-content>

<ion-footer>

  <app-footer></app-footer>

</ion-footer>

