<ion-header>
  <ion-toolbar>
    <ion-title>Colecciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="agregar-coleccion">
    <ion-button (click)="agregarColeccion()" class="anadir">
      <img class="icon" src="assets/icon/add-outline.svg" alt="añadir">
    </ion-button>
    <span class="texto-boton"><strong>Agregar colección</strong></span>
  </div>


  <div class="grid-container">
    @for (c of colecciones; track $index; let i = $index) {
      <ion-card (click)="abrirColeccion(i)">
        <ion-card-header>
          <ion-card-title>
            @if (!c.editando) {
              {{ c.nombre }}
              <ion-button fill="clear" size="small" (click)="editarNombre(c, $event)">
                ✏️
              </ion-button>
            } @else {
              <ion-input [(ngModel)]="c.nombre" (ionBlur)="guardarNombre(c)"></ion-input>
            }
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          @if (c.recetas.length) {
            {{ c.recetas.length }} recetas
          } @else {
            No hay recetas todavía
          }
        </ion-card-content>
      </ion-card>
    }
  </div>
</ion-content>


