<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateWithAnimation('/saves', $event)">
        <img src="assets/icon/arrow-back-outline.svg" alt="Volver" height="20" width="20">
      </ion-button>
    </ion-buttons>
    <ion-title>Recetas en esta colección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-list>
    <ion-item *ngFor="let r of coleccion?.recetas">

      <ion-thumbnail slot="start">
        <img [src]="r.img" />
      </ion-thumbnail>

      <ion-label>{{ r.titulo }}</ion-label>

      <ion-button slot="end" color="danger" (click)="quitarReceta(r)">
        Quitar
      </ion-button>
    </ion-item>
  </ion-list>

  <h2>Añadir recetas con me gusta</h2>

  <ion-list>
    <ion-item *ngFor="let r of recetasLike">

      <ion-thumbnail slot="start">
        <img [src]="r.img" />
      </ion-thumbnail>

      <ion-label>{{ r.titulo }}</ion-label>

      <ion-button slot="end" (click)="agregarReceta(r)">
        Añadir
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
