<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="nav.navigateWithAnimation('/saves', $event)">
        <img src="assets/icon/arrow-back-outline.svg" alt="Volver" height="20" width="20">
      </ion-button>
    </ion-buttons>
    <ion-title>Recetas en esta colección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  @if (coleccion?.recetas?.length) {
    <ion-list>
      @for (r of coleccion!.recetas; track r.id) {
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="r.imagen" [alt]="r.nombre" />
          </ion-thumbnail>

          <ion-label>{{ r.nombre }}</ion-label>

          <ion-button slot="end" color="danger" (click)="quitarReceta(r)">
            Quitar
          </ion-button>
        </ion-item>
      }
    </ion-list>
  } @else {
    <p class="empty-message">No hay recetas en esta colección</p>
  }

  <h2>Añadir recetas con me gusta</h2>

  @if (recetasLike.length) {
    <ion-list>
      @for (r of recetasLike; track r.id) {
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="r.imagen" [alt]="r.nombre" />
          </ion-thumbnail>

          <ion-label>{{ r.nombre }}</ion-label>

          <ion-button 
            slot="end" 
            (click)="agregarReceta(r)"
            [disabled]="estaEnColeccion(r)">
            @if (estaEnColeccion(r)) {
              Añadida
            } @else {
              Añadir
            }
          </ion-button>
        </ion-item>
      }
    </ion-list>
  } @else {
    <p class="empty-message">No tienes recetas con me gusta</p>
  }

</ion-content>
